.caroufredsel_wrapper{
    width: 835px!important;
    left: 0px!important;
    margin: 0!important;
}
.caroufredsel_wrapper ul{
    margin: 0;
    padding: 0;
}

.base_about{
    width: 388px;
}
.base_about tr td:first-child{
    width: 167px;
}
.base_about tr td:last-child{
    padding-left: 30px;
}